@font-face {
    font-family: 'aryaregular';
    src: url('../fonts/electrolize-regular-webfont.woff2') format('woff2'),
         url('../fonts/electrolize-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'electrolizeregular';
    src: url('../fonts/electrolize-regular-webfont.woff2') format('woff2'),
         url('../fonts/electrolize-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

.brand {
background-color: rgba(61,61,51,255);

img  {
    width: 100%;
    padding: 20px 50px;
}
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    h1 {
        font-family: 'electrolizeregular';
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    p {
        font-family: 'aryaregular';
        font-weight: bold;
        text-align: center;
    }

    label {
        font-family: 'aryaregular';
    }

    input {
        text-align: center;
        width: 100%;
        height: 50px ;
        border-color: #5cba4750;
        background-color: rgb(199, 199, 199);
    }

    #obs {
        text-transform: uppercase;
        font-weight: bold;
    }

    #obsinput {
        width: 100%;
        height: 150px;
        border-color: #5cba4750;
        background-color: rgb(199, 199, 199);
   }

    button {
        width: 100%;
        height: 50px ;
        margin-top: 10px;
        background-color: #5cba4750;
    }
}

.section {
    text-align: center;
    h1 {
        font-family: 'electrolizeregular';
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }

    p {
        font-family: 'aryaregular';
        font-weight: bold;
        text-align: center;
    }
}

button {
    width: 100%;
    height: 50px ;
    margin-top: 10px;
    background-color: #5cba4750;
}
